# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

/*

!.gitignore
!.gitattributes
!gitlab-ci.yml
!README.md
!ci/*

!Demo/

!Assets/
Assets/*
!Assets/Data
!Assets/Scripts
!Assets/Scenes


*.mat
*.shader
*.txt
*.unity
*.renderTexture
*.meta
*.prefab
*.xlsx
*.asset
*.7z
*.zip
*.rar
*.tss
*.TTF
*.otf
*.ttf
*.vsconfig
*.code-workspace
*.bin*
*.properties
*.unitypackage
*.app
*.aab
*.apk
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db